<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Wideband Scan</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="myScript.js"></script>
</head>
<body>
	<h1>Magmount - indoors - Preamp - Bandpass</h1>
	<div class="wideSurvey">
		<img class="surveySegment" src="50-100.jpg" alt="img"/>
		<img class="surveySegment" src="100-150.jpg" alt="img"/>
		<img class="surveySegment" src="150-200.jpg" alt="img"/>
		<img class="surveySegment" src="200-250.jpg" alt="img"/>
		<img class="surveySegment" src="250-300.jpg" alt="img"/>
	</div>	
</html>
